.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.model-load-indicator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: #CAF0F8;
}

.mail {
  display: block;
  font-size: 12px;
  height: fit-content;
  font-family: sans-serif;
  text-decoration: none;
  color: #CAF0F8;
  margin: auto;
  text-align: center;
}

#select-file {
  display: none;
  margin-top: 20%;
  justify-content: center;
  height: fit-content;
}

.button {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: #CAF0F8;
  border: 2px solid #48CAE4;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  align-items: center;
  margin: auto;
}

#url-input {
  width: 30%;
  align-self: center;
  display: block;
  margin: auto;
}

#gl-canvas {
  margin: auto;
  display: none;
  width: auto;
  height: 50vh;
}

progress {
  display: block;
  width: 100hv;
  height: 40px;
  color: #03045E;
}

progress::-moz-progress-bar {
  background: #03045E;
}

progress::-webkit-progress-value {
  background: #03045E !important;
}

p {
  display: block;
  width: 100hv;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #CAF0F8;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
}

.button:hover {
  color: #48CAE4;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}